//COLORS
$color-primary: #59253a;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-dark: darken($color-primary, 3.5%);
$color-primary-darker: darken($color-primary, 7%);
$color-primary-darkest: darken($color-primary, 15%);

$color-secondary: #78244c;
$color-secondary-light: lighten(#78244c, 40%);

$color-tertiary: #895061;

$color-blue-light: #0677a1;
$color-blue-dark: #2d4159;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dedede;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.5rem;

//PADDING
$default-padding: 1rem 2rem;

//BREAKPOINT
$bp-tablet: 1200px;
$bp-phone: 600px;
