.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 4rem;
  background: $color-primary-dark;
  border-radius: 1rem;
  margin-bottom: 2rem;

  @media (max-width: $bp-phone) {
    width: 100%;
    padding: 1rem 2rem;
  }
}
