.header {
  position: relative;
  z-index: 100;
  display: flex;
  box-shadow: 0 0.1rem 0.1rem 0 rgba($color-primary-darkest, 0.9);
  margin-bottom: 0rem;

  @media (max-width: $bp-phone) {
    flex-direction: column;
  }

  &__logo {
    &,
    &:link,
    &:visited,
    &:active {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Lobster", serif;
      font-size: $font-huge;
      text-decoration: none;
    }
  }

  &__heading {
    font-size: $font-large;
  }

  &__section {
    position: relative;
    padding: $default-padding;
    background: $color-primary;

    &--left {
      flex: 0 0 25rem;
      background: $color-primary-darker;
      @media (max-width: $bp-phone) {
        flex: 0 0 6rem;
      }
    }
    &--right {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

    // &--right {
    //   flex: 0 0 35rem;
    // }
  }

  &__control {
    display: inline-block;
    margin: 0 0.5rem;
  }
}
