.sidebar {
  padding: 1rem 1rem;
  flex: 0 0 25rem;
  &--left {
    background: $color-primary-darker;
    @media (max-width: $bp-phone) {
      display: none;
    }
  }
  &--right {
    background: $color-primary-dark;
    @media (max-width: $bp-tablet) {
      display: none;
    }
  }

  &__heading {
    &--small {
      text-transform: uppercase;
      font-weight: 700;
      font-size: $font-small;
    }
  }
}
