.avatar {
  position:relative;
  display: inline-block;
  //clip-path: circle(50% at 50% 50%);
  border-radius:50%;
  overflow:hidden;
  width: 4rem;
  height: 4rem;
  transform: scale(1);
  transition: transform 0.25s, filter 0.25s;
  

  &__image {
    transition: transform 0.25s, filter 0.25s;

    .list__item:hover &,
    &:hover {
      transform: scale(1.2);
      filter: contrast(120%);
    }
    width: 100%;
  }

  &--online, &--offline{
    &:before {
      position:absolute;
      display: inline-block;
      content: "";
      width: 2rem;
      height: 4rem;
      clip-path: polygon(0% 0%, 100% 50%, 100% 50%, 0% 100%);
      left: -1.3rem;
      top: 50%;
      transform: translateY(-50%);
      z-index:10;
    }

    &:after{
      position:absolute;
      display: inline-block;
      content: "";
      width: 2.2rem;
      height: 4rem;
      clip-path: polygon(0% 0%, 100% 50%, 100% 50%, 0% 100%);
      left: -1.3rem;
      top: 50%;
      transform: translateY(-50%);
      z-index:9;
    }
  }

  &--online {
    
    &:before {
      background: $color-green-light;
    }
    &:after{
      background: $color-green-dark;
    }
  }

  &--offline {
    &:before {
      background: $color-grey-dark;
    }
    &:after{
      background: $color-grey-dark-3;
    }
  }
}
