.avatar {
  display: inline-block;
  clip-path: circle(50% at 50% 50%);
  width: 4rem;
  height: 4rem;
  transform: scale(1);
  transition: transform 0.25s, filter 0.25s;

  &__image {
    transition: transform 0.25s, filter 0.25s;

    .list__item:hover &,
    &:hover {
      transform: scale(1.2);
      filter: contrast(120%);
    }
    width: 100%;
  }
}
