.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    display: inline-block;
    font-size: $default-font-size;
    background: none;
    color: $color-grey-light-1;
    cursor: pointer;
    border: 0;
    transition: all 0.5s;
  }

  &--icon {
    &,
    &:link,
    &:visited {
      padding: 0;
    }
    &:hover {
      color: $color-tertiary-light;
    }
  }
}
