.channel-list {
  &__item {
    margin: 0.25rem 0;
  }
  &__link {
    &,
    &:link,
    &:visited {
      border-radius: 0.25rem;
      display: inline-block;
      padding: 0.5rem 2rem;
      font-size: $font-medium;
      font-weight: 700;
      text-decoration: none;
      width: 100%;
      color: $color-tertiary-light;
      transition: 0.15s all;
    }

    &:hover {
      color: $color-grey-light-2;
      background: $color-primary;
    }

    &:active,
    &--active {
      &,
      &:link,
      &:visited {
        color: $color-grey-light-2;
        background: $color-primary-light;
      }
    }
  }
}
