.chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__messages {
    //height: calc(100% - 6.5rem);
    flex:1;
    overflow-y: scroll;
    @include scrollbars(0.5rem, $color-primary-darkest, $color-primary-darker);
  }
  &__inputs {
    //flex: 0 0 10rem;
    max-height:10rem;
    padding: 0rem 2rem 1rem 2rem;
  }
  &__text-input {
    background: $color-primary-light;
    padding: 1.25rem 2rem;
    max-height: 100%;
    width: 100%;
    resize: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: 0;
    border-radius: 10px;

    @include scrollbars(0.5rem, $color-primary-darkest, $color-primary-darker);
  }
}
