.message {
  padding: 0 2rem;
  //background:salmon;
  margin: 1rem 0 0 0;
  @include clearfix;

  &__avatar {
    float: left;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  &__sender {
    &,
    &:link,
    &:visited,
    &:active {
      font-weight: 700;
      color: $color-secondary-light;
      text-decoration: none;
    }
    &:link:hover {
      text-decoration: underline;
    }
  }

  &__date {
    font-weight: 300;
    color: $color-tertiary-light;
    font-size: $font-small;
  }

  &__content {
    display: table-cell;
  }

  &:hover {
    background: $color-primary-dark;
  }
}
