.message {
  padding: 0 2rem;
  //background:salmon;
  margin: 1rem 0 0 0;

  &__avatar {
    float: left;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
  }

  &__sender {
    font-weight: 700;
    color: $color-secondary-light;
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
    }
    &:link:hover {
      text-decoration: underline;
    }
  }

  &__date {
    font-weight: 300;
    color: $color-tertiary-light;
    font-size: $font-small;
  }

  &__content {
    overflow: hidden;
  }
  &:hover {
    background: $color-primary-dark;
  }
}
