*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines 1rem
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.8;
  color: $color-grey-light-2;
}

a:link, a:visited, a:active{
  color: $color-grey-light-2;
  font-weight: 700;
  text-decoration: underline;

  &:hover{
    color: $color-tertiary-light;
  }
}

p{
  margin-top: 1rem;
}